<app-section-article id="proyectos">
  <div class="text-3xl flex mb-4">
      <button [disabled]="proyectos" [ngClass]="{'underline-animation text-purple-500 active': proyectos, 'text-gray-500': !proyectos}" (click)="seleccion('proyectos')" class="px-2 py-1" [innerText]="'<Proyectos \\>'"></button>
      <!-- <button [disabled]="trabajos" [ngClass]="{'underline-animation text-purple-500 active': trabajos, 'text-gray-500': !trabajos}" (click)="seleccion('trabajos')" class="px-2 py-1" [innerText]="'<Trabajos \\>'"></button> -->
  </div>
  
  <article>
    <!-- <h4 class="bg-purple-400 text-white text-center text-2xl">Mis {{texto}}</h4> -->

    <div class="p-5 gap-10 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
      
      @if (proyectos && respuestaData[0].resProyectos === false) {
        <h4>No hay proyectos actualmente</h4>
        
      }@else if (trabajos && respuestaData[1].resTrabajos === false) {
        <h4>No hay Trabajos actualmente</h4>
      }
      @else {
        @for (data of jsonData; track $index) {
          <div class="flex sm:-m-4 -mx-4 -mb-10 -mt-4">
            <div class="p-4  sm:mb-0 mb-6 bg-slate-200">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="{{data.image}}">
              </div>
              <h2 class="text-xl font-medium title-font text-black mt-5">{{data.title}}</h2>
              <p class="text-base leading-relaxed mt-2">{{data.description}}</p>
              <a href="{{data.link}}" target="_blank" class="inline-flex items-center mt-3 px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg shadow-md transition duration-300 ease-in-out">
                Ir a la página
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
              
              <p class="text-xl mt-5 text-purple-400">Angular/TypeScript/TailwindsCss</p>
            </div>
          </div>
        }
      }
    </div>
  </article>

</app-section-article>


