<app-section-article>
  <section>  
    <img class="rounded-full size-12" src="../../../assets/perfil.jpg" alt="nahuel foto"> 
    <h1 class="text-black text-xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-4">Hola, soy Nahuel Frias 
      <a href="https://www.linkedin.com/in/nahuel-ezequiel-abel-frias/" target="_blank" rel="noopener" class="flex justify-center items-center">
        <div> 
          <span class="relative flex overflow-hidden rounded-full p-[1px]"> 
            <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"></span>
            <div class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-slate-950/90 px-3 py-1 text-sm font-medium text-white backdrop-blur-3xl"> Disponible para trabajar</div> 
          </span> 
        </div>
      </a>
    </h1> 
    
    <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
      <span>+2 años de experiencia.</span>
      <span class="text-purple-400/90"> Desarrollador web</span>. <span class="text-violet-500/90"> De Buenos Aires, Argentina 🇦🇷</span>.
      <span class="opacity-75">Especializado en crear aplicaciones únicas.</span>
    </h2> 
    <nav class="flex gap-4 mt-5 flex-wrap">
      <ul class="flex flex-row gap-x-4 justify-center">
        <li class="transform hover:scale-125 transition duration-300">
          <a class="rounded-full border border-black/10 flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base bg-black/5 hover:scale-90 hover:bg-black/10 transition" href="https://www.linkedin.com/in/nahuel-ezequiel-abel-frias/" target="_blank"><app-linkedin [wPadre]="25" [hPadre]="25"/>linkedin</a>
        </li>
        <li class="transform hover:scale-125 transition duration-300">
          <a class="rounded-full border border-black/10 flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base bg-black/5 hover:scale-90 hover:bg-black/10 transition" href="https://github.com/nahuelfriasdev" target="_blank"><app-github [wPadre]="25" [hPadre]="25"/>GitHub</a>
        </li>
        <li class="transform hover:scale-125 transition duration-300">
          <a class="rounded-full border border-black/10 flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base bg-black/5 hover:scale-90 hover:bg-black/10 transition" href="mailto:nahuelefrias00@gmail.com" target="_blank"><app-gmail [wPadre]="25" [hPadre]="25"/>nahuelefrias00&#64;gmail.com</a>
        </li>
      </ul>
    </nav>
  </section>

</app-section-article>
