<footer class="rounded-lg shadow m-4 bg-black/10 backdrop-blur-lg w-full xl:w-[1180px] mx-auto mb-10">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"> 
    <span class="text-base sm:text-center text-purple-600/90"> 2024 
      <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/nahuel-ezequiel-abel-frias/" class="hover:underline">Nahuel Frias</a>.
    </span> 

    <ul class="flex flex-wrap items-center mt-3 text-base font-medium text-violet-500/90 sm:mt-0"> 
      <li><a href="#" class="hover:underline me-4 md:me-6">Sobre mí</a></li> 
      <li><a href="#inicio" class="hover:underline">Contacto</a></li>
    </ul> 
  </div> 
</footer>