<header class="rounded-lg shadow m-4 bg-black/10 backdrop-blur-lg w-full xl:w-[1180px] mx-auto mb-10 p-2">
  <nav>
    <ul class="flex justify-center gap-5 text-md lg:gap-8 lg:text-xl">
      <li><a href="#experiencia" class="text-purple-600/90 hover:text-purple-300 transition-colors">Experiencia</a></li>
      <li><a href="#proyectos" class="text-purple-600/90 hover:text-purple-300 transition-colors">Proyectos</a></li>
      <li><a href="#tecnologias" class="text-purple-600/90 hover:text-purple-300 transition-colors">Tecnologías</a></li>
      <li><a href="#perfil" class="text-purple-600/90 hover:text-purple-300 transition-colors">Sobre mí</a></li>
    </ul>
  </nav>
  
</header>
