<header class="p-4 bg-slate-300/50">
  <nav>
    <ul class="flex justify-center gap-8 text-xl">
      <li><a href="#perfil" class="text-purple-500 hover:text-purple-300 transition-colors">Inicio</a></li>
      <li><a href="#experiencia" class="text-purple-500 hover:text-purple-300 transition-colors">Experiencia</a></li>
      <li><a href="#proyectos" class="text-purple-500 hover:text-purple-300 transition-colors">Proyectos</a></li>
      <li><a href="#tecnologias" class="text-purple-500 hover:text-purple-300 transition-colors">Tecnologías</a></li>
    </ul>
  </nav>
  
</header>
